# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files
*.log
*.txt
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.temp
*/imgui.ini
Makefile

# debug information files
*.dwo

# Directories
.vs/
.idea/
Binaries/
SegFault Editor/Vendor/imgui/examples
SegFault Editor/Vendor/SDL/examples

# Exclude
!Setup/Binaries