[submodule "SegFault Editor/Vendor/imgui"]
	path = SegFault Editor/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Misc/Math/DirectXMath"]
	path = Misc/Math/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "SegFault Editor/Vendor/SDL"]
	path = SegFault Editor/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Misc/Logging/spdlog"]
	path = Misc/Logging/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Misc/Networking/GameNetworkingSockets"]
	path = Misc/Networking/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "Misc/File IO/mINI"]
	path = Misc/File IO/mINI
	url = https://github.com/metayeti/mINI.git
[submodule "Misc/File IO/JSON"]
	path = Misc/File IO/JSON
	url = https://github.com/simdjson/simdjson.git
[submodule "SegFault Editor/Vendor/DirectXTK12"]
	path = SegFault Editor/Vendor/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
